<!DOCTYPE html>
<html>
<head>
  <title>ReactTutorial</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= link_to 'getting started', 'https://facebook.github.io/react/docs/getting-started.html' %>
  <%= link_to 'tutorial', 'https://facebook.github.io/react/docs/tutorial.html' %>

<%= yield %>

  <hr>
  <%= link_to 'top', root_path %>
</body>
</html>
